<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
            mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <div class="mdl-layout-spacer">Bloc-Chat Room {{ home.activeRoom }}</div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right">
        <label class="mdl-button mdl-js-button mdl-button--icon"
               for="fixed-header-drawer-exp">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" name="sample"
                 id="fixed-header-drawer-exp">
        </div>
      </div>
    </div>
  </header>

  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Bloc-Chat</span>
    <nav class="mdl-navigation" >
      <div ng-repeat="room in home.rooms">
        <a class="mdl-navigation__link" href="" ng-click="home.selectRoom(room.$value, room.$id)">{{ room.$value }}</a>
      </div>
      <div>
        <button class="mdl-navigation__link" ng-click="home.openModal()">Add room</button>
      </div>
    </nav>
  </div>

  <main class="mdl-layout__content">
    <div class="page-content" >
      <div class="room messages" ng-repeat="message in home.messages">
        {{message.sentAt + " - " + message.username + ": " + message.content }}
      </div>
      <div class="message imput box">
        <form>
          <label>Enter your message here</label>
          <input type="text" ng-model="home.newMessage" ng-minlength="1" required>
          <button class="send button" ng-click="home.sendMessage(newMessage)">Send</button>
        </form>
      </div>
    </div>
  </main>
</div>
